	<div class="work-area">
		<div class="work-area__view">
			<canvas id="can" class="work-area__reflection" width="600" height="300">Ваш браузер не підтримує елемент canvas.</canvas>
			<label for="load" class="work-area__load-label">Завантажити файл:  </label>
			<input id="load" type="file" class="work-area__load"  accept="image/png, image/jpeg" />
		</div>
		<div class="work-area__controls">
			<button class="work-area__grey" data-filter="grey" type="button">Зробити чорно-білим</button>
		</div>
	</div>
