
/*SCSS rules here*/

@use 'variables' as *;
@use 'options' as *;
body {
	font-family: "Montserrat";
	font-size: 20px;
	font-weight: 400;
	background: $fon1;
	background: linear-gradient(160deg, $fon1 0%, $fon2 100%); 
	color: $fontcolor;
	height: 100vh;
}
.h1, .h2 {
	width: fit-content;
	margin: 30px auto;
	font-weight: 700;
}
.h2 {
	font-size: 15px;
	font-weight: 500;
}

.work-area {
	@extend %flex_oll_center;
	gap: 15px;
	
	&__reflection {
		display: block;
		margin: 30px;
		background-color: #eee;
		border: 3px solid #808080;
		border-radius: 5px;
	}
	&__load-label {
		margin-left: 30px;
	}
	&__controls {
		width: 600px;
	}
	&__wrupper {
		display: grid;
		grid-template-columns: repeat(2, minmax(auto, 1fr));
		gap: 10px;
	}
	&__grey, &__red, &__green, &__sepia, &__clear {
		@extend %button;
	}
	&__clear {
		display: block;
		margin: 20px auto 0;
	}
}
